BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
SeparateDefinitionBlocks: Always
InsertBraces: true
PointerAlignment: Left
SortIncludes: Never
